{% comment %}
  Renders a product card
  Accepts:
  - product_ref: {Object} Product Liquid object
  - collection_ref: {Object} Collection Liquid object
  - class: {String} CSS class to apply to the card
  - hide_actions: {Boolean} Hides tags, sizes and color swatches
  - section_id: {String} Section id used to make the product id attribute unique
  - card_index: {Number} Loop index
  Usage:
  {%- render 'card-product', product_ref: product_ref -%}
{% endcomment %}

{%- assign hide_actions = hide_actions | default: false -%}
{%- assign image_per_view = image_per_view | default: 4 -%}
{%- capture card_id -%}
  {{- product_ref.id -}}-{{- section_id -}}-{{- card_index -}}
{%- endcapture -%}

<card-product
  class="card-product {{ class }}{% if hide_actions %} disabled{% endif %} {{ card_product_layout }}"
  data-handle="{{- product_ref.handle -}}"
  data-id="{{- card_id -}}"
>
  <div class="relative">
    {%- if settings.card_product_image_ratio == '0' -%}
      {%- assign media_classes = 'media--aspect-ratio' -%}
    {%- endif -%}

    {% liquid
      assign cover_media = product_ref.media[0]
      assign cover_media_type = cover_media.media_type

      assign hover_media = product_ref.media[1]
      assign hover_media_type = hover_media.media_type

      if cover_media_type == 'video' or cover_media_type == 'external_video'
        assign cover_media = product_ref.media[1]
        assign hover_media = product_ref.media[2]

        if hover_media_type == 'video' or hover_media_type == 'external_video'
          assign hover_media = product_ref.media[3]
        endif
      endif
    %}

    <a
      href="{{- product_ref.url -}}"
      class="media card-product__media {{ media_classes }}{% if settings.card_product_image_hover and product_ref.media.size > 1 and hover_media != nil %} has-hover{% endif %}"
      aria-label="{{- product_ref.title -}}"
    >
      {%- liquid
        if product_ref.featured_image
          if hide_actions
            assign class = 'js-media-default is-visible'
          else
            if selected_variant.featured_image and color_option_values and settings.product_swatches_on_card
              assign class = 'hidden'
            else
              assign class = ' js-media-default is-visible'
            endif
          endif

          render 'image', image: product_ref.featured_image, alt: product_ref.featured_image.alt | escape, class: class, image_per_view: image_per_view

          if variants_media == blank
            if settings.card_product_image_hover and product_ref.media.size > 1 and hover_media != null
              render 'image', image: hover_media, alt: hover_media.alt | default: product_ref.title | escape, class: ' hover-img', image_per_view: image_per_view
            endif
          endif

        else
          echo 'image' | placeholder_svg_tag
        endif

        # add 'is-visible' to the first variant image if no featured image
        if variants_media contains 'is-visible'
        else
          # add 'is-visible' to the first variant image
          assign variants_media = variants_media | replace: 'is-first', 'is-visible is-first'
        endif
      -%}

      {{ variants_media }}
    </a>

    {%- unless hide_actions -%}
      <div class="card-product__overlay-content">
        {%- if settings.product_swatches_on_card -%}
          {%- if card_product_layout == 'card-product__layout--compact' -%}
            {{ product_swatches_html }}
          {%- endif -%}
        {%- endif -%}
        {%- render 'product-tags' with product_ref: product_ref -%}
      </div>
      {{ quick_add_to_cart_button_html }}
    {%- endunless -%}
  </div>

  <a href="{{- product_ref.url -}}" class="card-product__content focus-inset">
    <h6 class="card-product__title">
      {%- if product_ref and product_ref != empty -%}
        {{- product_ref.title | escape -}}
      {%- else -%}
        {{- 'products.product.title' | t -}}
      {%- endif -%}
    </h6>

    {%- assign available_variants = product_ref.variants | where: 'available', true -%}
    {%- assign sizes = available_variants | map: 'option1' | compact | uniq -%}
    {%- if sizes.size > 0 -%}
      <div class="card-product__sizes">
        <span class="values">{{ sizes | join: ' | ' }}</span>
      </div>
    {%- endif -%}


    {%- render 'price', product_ref: product_ref, price_class: 'card-product__price' -%}
  </a>

  {%- unless hide_actions -%}
    {%- if card_product_layout == 'card-product__layout--standard' -%}
      {%- if settings.product_swatches_on_card -%}
        {{ product_swatches_html }}
      {%- endif -%}
    {%- endif -%}
  {%- endunless -%}
</card-product>
